@page "/registroArticulo"
@inject IToastService toast
@inject Services.ArticuloServices articuloServices

<h3>Registro de Articulo</h3>

<div class="container mt-3 text-center">
    <div class="row text-center">
        <EditForm Model="articulo" OnValidSubmit="Guardar" style="display:inline-block">
            <DataAnnotationsValidator />
            <div class="form-group">
                <MatTextField @bind-Value="articulo.Nombre" Type="text" Label="Nombre del articulo" Class="form-control" Style="border:none; border-radius:0;"/>
                <ValidationMessage For="(() => articulo.Nombre)" />
            </div>
            <div class="form-group">
                <MatTextField @bind-Value="articulo.Precio" Type="number" Label="Precio (USD)" Class="form-control" Style="border:none; border-radius:0;"/>
                <ValidationMessage For="(() => articulo.Precio)" />
            </div>
            <div class="form-group">
                <label for="Ganancia">Ganancia: (DOP)</label>
                <input @bind-value="articulo.Ganancia" @onfocusout="Calcular" type="number" class="form-control">
              
            </div>
            <div class="form-group">
                <label for="Tasa de la moneda">Precio del dolar: </label>
                <input @bind-value="@articulo.TasaMoneda" @onfocusout="Calcular" type="number" class="form-control" step=".01">
                <ValidationMessage For="(() => articulo.TasaMoneda)" />
            </div>
            <div class="form-group">
                <label for="Monto">Monto Total: </label>
                <input @bind-value="@articulo.MontoTotal" type="number" class="form-control" readonly />
                <ValidationMessage For="(() => articulo.MontoTotal)" />
            </div>
            <div class="form-group">
                <label for="Ganancia Aumentada">Ganancia Aumentada: </label>
                <input @bind-value="@articulo.GananciaAumentada" type="text" class="form-control" />
                <ValidationMessage For="(() => articulo.GananciaAumentada)" />
            </div>
            <MatButton Type="button" Outlined="true" Label="Editar"></MatButton>
            <div class="form-group" style="display:inline-block">
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-primary" @onclick="AumentarGanancia">Aumentar Ganancia</button>
            </div>
        </EditForm>  
    </div>
</div>

@code {
    Articulo articulo = new Articulo();

    void Prueba()
    {
        Console.WriteLine("console.log('prueba')");
    }

    private async void Guardar()
    {
        if (articulo != null)
        {

            await articuloServices.SaveArticuloAsync(articulo);
            toast.ShowSuccess("Se ha guardado correctamente!");
        }
        else
        {
            toast.ShowError("No se pudo guardar el articulo!");
        }
    }

    private void Calcular()
    {
        articulo.MontoTotal = articuloServices.CalcularTotal(articulo.Precio, articulo.Ganancia, articulo.TasaMoneda);
    }

    private void AumentarGanancia()
    {
        articulo.MontoTotal = articulo.MontoTotal + articulo.GananciaAumentada;
    }
}
