@page "/registroArticulo"
@inject IToastService toast
@inject Services.ArticuloServices articuloServices

<h3>Registro de Articulo</h3>

<div class="container mt-3">
    <div class="row">
        <EditForm Model="articulo" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="Articulo">Nombre del articulo: </label>
                <input @bind-value="articulo.Nombre" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Precio">Precio: (USD)</label>
                <input @bind-value="articulo.Precio" @onfocusout="Calcular" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Ganancia">Ganancia: (DOP)</label>
                <input @bind-value="articulo.Ganancia" @onfocusout="Calcular" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Tasa de la moneda">Precio del dolar: </label>
                <input @bind-value="@articulo.TasaMoneda" @onfocusout="Calcular" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Monto">Monto Total: </label>
                <input @bind-value="@articulo.MontoTotal" type="text" class="form-control" readonly>
            </div>
            <button class="btn btn-primary">Guardar</button>
        </EditForm>
        <div class="form-group">
        <label for="Ganancia Aumentada">Ganancia Aumentada: </label>
        <input @bind-value="gananciaAumentada" type="text" class="form-control" />
        <button @onclick="AumentarGanancia">Aumentar Ganancia</button>
    </div>
    </div>
</div>

@code {
    Articulo articulo = new Articulo();
    private double gananciaAumentada = 0;

    private async void Guardar()
    {
        if (articulo != null)
        {

            await articuloServices.SaveArticuloAsync(articulo);
            toast.ShowSuccess("Se ha guardado correctamente!");
        }
        else
        {
            toast.ShowError("No se pudo guardar el articulo!");
        }
    }

    private void Calcular()
    {
        articulo.MontoTotal = articuloServices.CalcularTotal(articulo.Precio, articulo.Ganancia, articulo.TasaMoneda);
    }

    private void AumentarGanancia()
    {
        articulo.MontoTotal = articulo.MontoTotal + gananciaAumentada;
    }
}
