<div class="top-row pl-4 navbar navbar-dark sidebar-custom">

    <a class="navbar-brand" href="#">
        <img src="/img/castreetstyle.jpeg" width="203" height="170" alt="">
    </a>

    <div class="text-center" style="margin: auto">
        <a class="navbar-brand" href="">𝓒𝓐 𝓢𝓽𝓻𝓮𝓮𝓽𝓢𝓽𝔂𝓵𝓮 𝓢𝓱𝓸𝓹</a>
    </div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
         <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listado">
                <span class="oi oi-list" aria-hidden="true"></span> Listado
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registroArticulo">
                <span class="oi oi-box" aria-hidden="true"></span> Articulos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
